body {
    font-family: sans-serif;
}

header{
    background-color: #00CED1;
    padding: 25px;
    color: #FF7F50;
    font-size: 21px;
}

header img{
    margin: 15px;
}

header a{
    background-color: #DC143C;
    color: #FFFACD;
    padding: 15px;
    margin: 20px;
}

h1 {
    color: #4B0082;
    text-align: center;
    font-size: 43px;
}

footer{
    background-color: #FF1493;
    padding: 10px;
}

footer p{
    background-color: white;
    padding: 7px;
}
